* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf0f1;

  color: #fff;

  transition: color 0.5s ease-in-out;
}

.wrap {
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -1;

  animation: fadeIn 0.5s linear;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;

  font-size: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 30px 25px;
}

.js-weather {
  display: flex;
  justify-content: flex-end;

  margin: 50px 30px 50px 0px;
  margin-right: 30px;
}

.js-clock {
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.js-clock h1 {
  font-size: 100px;

  padding-bottom: 20px;

  border-bottom: 2px solid #fff;
}

.js-form input {
  width: 20%;
  height: 30px;

  padding: 5px 10px 5px 10px;

  border: 0;
  border-bottom: 2px solid #fff;

  background: none;

  color: #fff;
}

.js-form input::placeholder {
  color: #fff;
}

.js-form input:focus {
  outline: none;
}

.todo_wrap {
  margin: 40px auto;
  padding: 20px;

  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border-radius: 10px;

  background-color: rgba(188, 188, 188, 0.489);
}

.todo_wrap_title {
  font-size: 20px;

  margin: 15px;
}

.js-toDoForm {
  width: 100%;

  text-align: center;
}

.js-toDoForm input {
  width: 70%;
  height: 30px;

  margin: 20px;
  padding: 5px 10px 5px 10px;

  border: 0;
  border-bottom: 2px solid #fff;

  background: none;

  font-size: 18px;

  caret-color: #fff;
}

.js-toDoForm input::placeholder {
  color: black;
}

.js-toDoForm input:focus {
  outline: none;
}

.js-toDoList {
  width: 70%;

  padding-left: 20px;
}

button {
  border: 0;

  background: none;

  margin-right: 10px;

  cursor: pointer;
}
